.widget {
  width: 1170px;
  height: 446px;
  background-image: url('../../assets/images/background-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;

} 

.button {
  background-color: transparent;
  border: none;
  width: 80px;
  height: 80px;
  border-radius: 24px;
}

.button:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.4);
}

.upperHeader {
  display: flex;
  height: 188px;
  align-items: center;
  justify-content: space-between;
  padding: 0 118px 0 240px;
}

.title {
  font-size: 80px;
  font-weight: 700;
  color: #fff;
}

.userWidgets {
  display: flex;
  justify-content: space-around;
}

.userBonus {
  width: 454px;
  height: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 26px;
  padding: 36px 56px;
  justify-content: space-around;
  z-index: 1;
}

.userProfile {
  width: 386px;
  height: 200px;
  background-color: rgba(219, 211, 211, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 26px;
  z-index: 1;
  padding: 28px 56px;
}

.userProfile:hover {
  background-color: rgba(194, 192, 192, 0.4);
}

.titleProfile {
  font-size: 30px;
  color: #fff;
}

.logo {
  width: 560px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}