.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  box-sizing: border-box;
  width: 356px;
  height: 502px;
}

.image {
  display: block;
  width: 356px;
  height: 410px;
  object-fit: cover;
  border-radius: 30px;
  overflow: hidden;
}

.categoryContainer {
  background-color: rgba(136, 129, 129, 0.5); 
  display: flex;
  align-items: center;
  border-radius: 20px;
  z-index: 1;
  padding: 12px 16px;
  position: absolute;
  top: 340px;
  left: 12px;

}

.category {
  font-size: 28px;
  color: #fff;
}

.titleContainer {
  max-height: 84px;
  overflow: hidden;
  
}

.title {
  font-size: 30px;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
}