.widget {
  width: 1090px;
  height: 220px;
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  display: flex;
  box-sizing: border-box;
  border: 8px solid var(--black);
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 0 52px 0 0;
}

.image{
  width: 230px;
  height: 220px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.info {
  display: flex;
  flex-direction: column;
  width: 550px;
}

.button {
  width: 92px;
  height: 92px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-text-gray);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.recipeTitle {
  font-size: 30px;
  color: var(--color-text-gray);
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 20px;
}

.clock {
  display: flex;
  align-items: center;
}

.time {
  font-size: 50px;
  color: var(--color-white);
  margin-left: 30px;
}