.widget {
  width: 100%;
  height: 220px;
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  display: flex;
  box-sizing: border-box;
  border: 8px solid var(--black);
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  padding: 0 52px 0 0;
}

@media screen and (max-width: 390px) {
  .widget {
    height: 74px;
    padding: 0 18px 0 0;
    border: 2px solid var(--black);
    border-radius: 12px;
  }
}

.image{
  width: 230px;
  height: 220px;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 390px) {
  .image {
    width: 76px;
    height: 74px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  width: 550px;
}

@media screen and (max-width: 390px) {
  .info {
    width: 184px;
  }
}

.button {
  width: 92px;
  height: 92px;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-text-gray);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 390px) {
  .button {
    width: 30px;
    height: 30px;
    border-radius: 8px;
  }
}

.button:hover {
  background-color: var(--button-hover);
  cursor: pointer;
}

.recipeTitle {
  font-size: 30px;
  color: var(--color-text-gray);
  margin: 0;
  padding: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 20px;
}

@media screen and (max-width: 390px) {
  .recipeTitle {
    font-size: 10px;
    margin-top: 7px;
  }
}

.clock {
  display: flex;
  align-items: center;
}

.time {
  font-size: 50px;
  color: var(--color-white);
  margin-left: 30px;
}

@media screen and (max-width: 390px) {
  .time {
    font-size: 16px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 390px) {
  .icon {
    width: 14px;
    height: 14px;
  }
}