.button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 22px;
  height: 22px;
}

.timer {
  display: flex;
  align-items: center;
  height: 22px;
  background-color: var(--color-black);
}

.timeMin {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-bg);
  margin-left: 8px;
}

.timeSec {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-bg);
  margin-left: 4px;
}

.clockIcon {
  width: 22px;
  height: 22px;
}