.button {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
  width: 64px;
  height: 64px;
}

@media screen and (max-width: 390px) {
  .button {
    width: 22px;
    height: 22px;
  }
}

.button:hover {
  background-color: var(--button-hover);
}

.timer {
  display: flex;
  align-items: center;
  height: 64px;
  background-color: var(--color-black);
}

@media screen and (max-width: 390px) {
  .timer {
    height: 22px;
  }
}

.timeMin {
  font-size: 60px;
  font-weight: 500;
  color: var(--color-bg);
  margin-left: 26px;
}

@media screen and (max-width: 390px) {
  .timeMin{
    font-size: 20px;
    margin-left: 8px;
  }
}

.timeSec {
  font-size: 60px;
  font-weight: 500;
  color: var(--color-bg);
  margin-left: 10px;
}

@media screen and (max-width: 390px) {
  .timeSec {
    font-size: 20px;
    margin-left: 4px;
  }
}

@media screen and (max-width: 390px) {
  .clockIcon {
    width: 22px;
    height: 22px;
  }
}