.infoBonus {
  display: flex;
  align-items: center;
}

.digits {
  font-size: 18px;
  font-weight: 700;
  color: var(--black);
}

.titleBonus {
  font-size: 10px;
  color: var(--color-text-gray);
}

.icon {
  width: 22px;
  height: 22px;
}