

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  /* max-width: 100vw; */
  max-width: 1170px;
  overflow-x: hidden;
  margin: 0 auto;
  background: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-bg: #f5f5f5;
  --color-black: #282929;
  --color-orange: #ff8934;
  --color-orange-light: #e4bf89;
  --color-black-50: rgba(40, 41, 41, 0.5);
  --color-text-white: #fff;
  --color-text-gray: #8c8585;
  --button-hover: rgba(128, 128, 128, 0.4);
  --border-radius: 26px;
}
