

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw; 
  background: var(--color-bg);
  height: 100%;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --color-bg: #f5f5f5;
  --color-black: #282929;
  --color-orange: #ff8934;
  --color-orange-light: #e4bf89;
  --color-black-60: rgba(40, 41, 41, 0.6);
  --color-text-white: #fff;
  --color-text-gray: #8c8585;
}