.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  width: 108px;
  height: 184px;
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 9px;
}

.titleContainer {
  overflow: hidden;
  position: absolute;
  top: 87%; 
  left: 40%; 
  transform: translate(-50%, -50%);
  text-overflow: ellipsis;
}

.title {
  font-size: 10px;
  text-overflow: ellipsis;
  color: var(--color-text-white);
}