.card {
  display: flex;
  flex-direction: column;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  width: 324px;
  height: 554px;
}

@media screen and (max-width: 390px) {
  .card {
    width: 108px;
    height: 184px;
  }
}

.image {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

@media screen and (max-width: 390px) {
  .image {
    border-radius: 9px;
  }
}

.titleContainer {
  max-height: 84px;
  overflow: hidden;
  position: absolute;
  top: 87%; 
  left: 40%; 
  transform: translate(-50%, -50%);
  text-overflow: ellipsis;
}

.title {
  font-size: 30px;
  text-overflow: ellipsis;
  color: var(--color-text-white);
}

@media screen and (max-width: 390px) {
  .title {
    font-size: 10px;
  }
}