.header {
  max-width: 1440px;
  height: 446px;
  background-image: url('../../assets/images/background-header.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  background-color: var(--color-black-60);
  width: 100%;
  height: 100%;
} 

.upperHeader {
  display: flex;
  height: 188px;
  align-items: center;
  justify-content: space-between;
  padding: 0 118px 0 300px;
}

.logo {
  width: 330px;
  height: 80px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button {
  background-color: var(--color-black-60);
  border: none;
  width: 80px;
  height: 80px;
  border-radius: var(--border-radius);
}

.button:hover {
  cursor: pointer;
  background-color: var(--button-hover);
}