.footer {
  max-width: 1440px;
  height: 518px;
  display: flex;
  flex-direction: column;
  padding: 0 40px 40px;
}

@media screen and (max-width: 390px) {
  .footer {
    padding: 0 14px 14px;
    
  }
}

.link {
  margin-bottom: 30px;
  color: var(--color-text-gray);
  font-size: 26px;
}

@media screen and (max-width: 390px) {
  .link {
    margin-bottom: 10px;
    font-size: 8px;
  }
}