.titleBlock {
  display: flex;
  align-items: center;
  height: 114px;
  justify-content: space-between;
}

.title {
  font-size: 38px;
  font-weight: 700;
  color: var(--black);
}

.link {
  font-size: 30px;
  color: var(--orange);
}

.link:hover {
  cursor: pointer;
  color: var(--orange-light);
}